.menu {
  color: #fff;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
  }

  &__title {
    text-transform: uppercase;
  }

  &__button {
  }

  &__list {
    margin-top: 40px;
    &Item {
      font-size: 32px;
    }
  }
}
