@tailwind base;
@tailwind components;
@tailwind utilities;

@import './normalize.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --dark: #262626;
}

body {
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark);

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: currentColor;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--dark);
  }
}

// main {
//   > div {
//     margin: 0 2vw;
//   }
// }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  fill: var(--dark);
}
