.header {
  position: absolute;
  top: 0;
  z-index: 15;

  width: 100%;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
