.searched {
  min-height: 100vh;
  padding: 200px 0px;
  background-color: #faf4e5;

  &__wrap {
    margin: 0 2vw;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 60px 30px;
  }
}
